<div class="container">
    <h1>Hola {{currentUser.username}}</h1>
    <p>Aqui estan tus preferencias de noticias :D</p>
    <div class="row mt-5">
        <div class="col-md-2">
            <h2>Eventos</h2>
            {{>userNav}}
        </div>
        <div class="col-md-8">


            <h1>Create an Event</h1>
            <hr>

            <form action="/events/create" method="POST" enctype="multipart/form-data">
                <div class="mb-3 row">

                    <div class="col-md-6">
                        <label for="eventName" class="form-label">Event Name</label>
                        <input type="text" class="form-control" id="eventName" name="name">
                    </div>
                    <div class="col-md-6">
                        <label for="eventType" class="form-label">Event Type</label>
                        <select class="form-select" selected name="type">
                            <option value="Leisure">Leisure</option>
                            <option value="Work">Work</option>
                            <option value="Health">Health</option>
                        </select>
                    </div>
                    <div class="col-md-6 ">
                        <label for="eventSpecs" class="form-label">Event Specs</label>
                        <select class="form-select" selected name="specs">
                            <option value="Public">Public</option>
                            <option value="Private">Private</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="eventDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" id="eventDescription" name="description">
                    </div>
                    <div class="col-md-6">
                        <label for="date" class="form-label"> Start Date</label>
                        <input type="date" class="form-control" id="date" name="dateStart">
                    </div>
                    <div class="col-md-6">
                        <label for="date" class="form-label"> End Date</label>
                        <input type="date" class="form-control" id="date" name="dateEnd">
                    </div>
                    <div class="col-md-6">
                        <label for="date" class="form-label"> Start Hour</label>
                        <input type="time" class="form-control" id="date" name="startingHour">
                    </div>
                    <div class="col-md-6">
                        <label for="date" class="form-label"> End Hour</label>
                        <input type="time" class="form-control" id="date" name="endingHour">
                    </div>
                    <div class="col-md-12">
                        <label for="image" class="form-label">Event Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                        <br>
                    </div>
                    <div class=" d-grid gap-2">
                        <button type="submit" class="btn btn-secondary block">Create Event</button>
                    </div>
                    <div class="d-grid gap-2">
                        <a href="/events/list/owner" class="btn btn-dark block">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>