<div class="container">

    <h2>Event Details</h2>
    <hr>

    <div class="row">
        <div class="col-md-2">
            {{>eventDetailsNav}}
        </div>

        <div class="col-md-10">
            <div class="row">
                <p>{{name}}</p>

                <div class=" card col-8" style="color: black;">
                    <h4 class="card-title"><strong>{{ event.name }}</strong></h4>

                    <h5 class="card-title"><strong>Date: </strong>{{ event.date }}</h5>
                    <hr>
                    <h5 class="card-title"><strong>Description: </strong>{{ event.description }}</h5>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>