<div class="container">
    {{!-- //// añadir a gustavo --}}
    <h1> All the Events</h1>
    <hr>
    <div class="row">
        <div class="col-md-2">
            {{>eventNav}}
        </div>
        <div class="col-md-10">
            <img style="width: 550px"
                src="https://64.media.tumblr.com/528f8d70d8477e788d6ec29f98de4d4a/0010e166b3ed3a12-14/s2048x3072/c2c3e280430aa0f19f5954b5ad010e72189b2720.jpg"
                alt="Events">
        </div>
    </div>
</div>