<div class="container">

    <h2>My Events</h2>
    <hr>
    <div class="row">
        <div class="col-md-2">
            {{>myeventNav}}
        </div>


        <div class="col-md-10">
            <div class="row">
                {{#each events}}
                <div class=" card col-3">
                    <div class="card-body" style="color: black;">
                        <h4 class="card-title"><strong>{{name}}</strong> </h4>
                        <h6 class="card-title"><strong>{{date}}</strong> </h6>
                        <a href="/events/myevents/details/{{_id}}" class="btn btn-sm btn-secondary">View details</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>