<div class="navBars">
    <nav class="nav flex-column">
        <a class="nav-link" href="/events/create">Create an Event</a>
        <a class="nav-link" href="/myprofile">Return</a>
    </nav>
</div>