<div class="navBars">
    <nav class="nav flex-column">
        <a class="nav-link" href="/events/create">Create an Event</a>
        <a class="nav-link" href="/events/list/public">Return</a>

        {{#if isLoggIn}}
        <form action="/logout" method="POST">
            <input type="submit" class="nav-link" value="Logout"
                style="background-color: white; border: none; color: rgb(221, 74, 74)">
        </form>
        {{/if}}
    </nav>
</div>