<div class="container">
    <h2>Hello {{currentUser.username}}!</h2>
    <p>Aquí estan tus eventos :P</p>
    <hr>

    <div class="row">
        <div class="col-md-1">
            {{>calendarNav}}
        </div>
        <div class="col-md-11">
            <div style="padding-left: 50px;">

                <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
                <script>
                    let events1 = []
                    fetch('http://localhost:8080/api/list/subscribe')
                        .then(response => response.json())
                        .then(data => {

                            data.forEach(elm => {
                                console.log(elm.date.start)
                                events1.push({
                                    title: elm.name,
                                    start: '2023-05-29',
                                    end: '2023-05-30',
                                })

                            })
                        })
                        .catch(err => console.log(err))
                    console.log(events1)
                    let event2 = [{
                        title: 'hola',
                        start: '2023-05-29',
                        end: '2023-05-30',
                    }]

                    document.addEventListener('DOMContentLoaded', function () {
                        console.log(events1)

                        console.log("holaaa")
                        let calendarEl = document.getElementById('calendar');
                        let calendar = new FullCalendar.Calendar(calendarEl, {
                            initialView: 'dayGridMonth',
                            height: 600,
                            themeSystem: 'bootstrap5',
                            timeZone: 'UTC',
                            events: events1
                        });
                        calendar.render();
                    });

                </script>

                <body>
                    <div id='calendar'></div>
                </body>
            </div>
        </div>
    </div>