<div class="container">
    <h2>Hello {{currentUser.username}}!</h2>
    <p>Aquí estan tus eventos :P</p>
    <hr>

    <div class="row">
        <div class="col-md-1">
            {{>calendarNav}}
        </div>
        <div class="col-md-11">
            <div class="calendar" style="padding-left: 50px;">

                <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
                <script>

                    let events = []
                    /*
                 
            })
                    */
                    fetch('http://localhost:3000/api/list/subscribe')
                        .then(response => response.json())
                        .then(data => {
                            data.forEach(elm => {

                                events.push({
                                    timeZone: 'local',
                                    title: elm.name,
                                    start: elm.date.start,
                                    end: elm.date.end,
                                    descripton: elm.type
                                })
                                console.log(data)

                            })
                        })
                        .catch(err => console.log(err))
                    console.log(events)
                    document.addEventListener('DOMContentLoaded', function () {
                        var calendarEl = document.getElementById('calendar');
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            initialView: 'dayGridMonth',
                            height: 500,
                            themeSystem: 'bootstrap5',
                            timeZone: 'UTC',
                            events: events
                        });
                        calendar.render();
                    });
                </script>

                <body>
                    <div id='calendar'></div>
                </body>
            </div>
        </div>
    </div>