<div class="container">
    <h2>Hola! {{currentUser.username}}</h2>
    <p>Aqui estan tus eventos :P</p>
    <hr>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                height: 600,
                themeSystem: 'bootstrap5',
                timeZone: 'UTC',
                events: [
                    {
                        id: 'a',
                        title: 'my event',
                        start: '2023-05-17'
                    }
                ]
            });
            calendar.render();
        });

    </script>

    <body>
        <div id='calendar'></div>
    </body>

</div>