<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Edit my profile</h1>
            <hr>

            <form action="/profile/{{id}}/edit" method="POST">
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="usernameInput" name="username" value="{{username}}">
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="emailInput" class="form-label">Email</label>
                        <input type="email" class="form-control" id="emailInput" name="email" value="{{email}}">
                    </div>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-danger block">Submit changes</button>
                </div>
                <div class="d-grid gap-2">
                    <a href="/profile/{{id}}" class="btn btn-dark block">Cancel</a>
                </div>

            </form>
        </div>
    </div>

</div>