<div class="container">

    <h2>My Profile</h2>

    <div class="row">

        <div class=" card col-4" style="color: black;">
            <h4 class="card-title"><strong>{{ username }}</strong></h4>

            <h5 class="card-title"><strong>Email: </strong>{{ email }}</h5>
            <hr>
            <a href="/" class="btn btn-lg btn-success">Return</a>
            <hr>

        </div>