img {
  width: 100%;
}

.gradient {
  /*background: linear-gradient(rgb(147, 148, 147), rgb(171, 205, 202));*/
  background-size: auto;
  background-repeat: no-repeat;
  overflow: auto;
  height: 100vh;
  margin-bottom: 40px;
}

/* Carousel */
.carousel-item img {
  height: 170px;
  margin-bottom: 0;
}

.carousel-caption {
  color: black;

}

.carousel-control-next {
  color: black;

}

.carousel-control-next {
  color: black;
}

/* main */
.logo-solo-title {
  width: 300px;
  margin: 0;
}

.maintitle {
  font-family: Microsoft YaHei Light;
  font-size: 7em;
  font-weight: 600;
}

.subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  font-weight: 600;
}

.titlebox {
  padding: 150px 0;
}

/* NavBar */
.nav-item {
  color: black;
  font-size: 30px;
  font-weight: 200;
}

.logo-solo {
  width: 40px;
}

.navbar {
  height: 70px;
}

.bg {
  background-color: white;
}

/* footer */
footer {
  background-color: #000000;
  color: rgb(250, 248, 248);
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
  /*position: fixed; 
  height: 50px;
  bottom: 0;
  left: 0;
  */
  width: 100%
}

.profileImage {
  height: 70px;
}

.nav-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-nav {
  margin-right: 1rem;
  align-items: center;
  display: flex;
}

.profile-nav img {
  width: 10%;
}