<div class="bg">

    <form action="/search" method="GET">
        <input type="text" name="news_search" placeholder="Search News">
        <br><br>
        <input type="submit" value="Search">

    </form>
</div>

<script
    src=" https://content.guardianapis.com/search?page=2&q=debate&api-key=1ff23eef-355c-4a09-8328-bca66bc32106"></script>