<div class="bg">

    {{#each news}}
    <h2 class="mb-5">{{pillarName}}</h2>
    <h3>{{webTitle}}</h3>
    <a href={{webUrl}} class="btn btn-dark">Mas detalles </a>
    <hr>
    {{/each}}
    <p>hola</p>

</div>